<div>
	<form ng-submit="search()">
		<input type="text" ng-model="location" placeholder="Type and hit enter to update location"/>
	</form>
	<!--     <div class="key">
	<h3>Key: <span class="cool">Cool</span> | <span class="mid">Mild</span> | <span class="hot">Hot</span><h3>
	</div> -->
	<h2 class="error" ng-show="!weatherData.data.name">{{weatherData.data.message}}</h2>
	<h2 class="loading">Loading...</h2>

	<div ng-if="weatherData.data.name" class="card" ng-class="{hot: weatherData.data.main.temp >= 23, mid: weatherData.data.main.temp > 15, cool: weatherData.data.main.temp < 15 }">
		<h2>{{weatherData.data.name}}, {{weatherData.data.sys.country}}</h2>


		<div class="icon">
		<!-- Clear Sky -->

		<!-- Day -->
		<i ng-if="weatherData.data.weather[0].id == 800 && weatherData.data.dt < weatherData.data.sys.sunset" class="wi wi-day-sunny"></i>

		<!-- Night -->
		<i ng-if="weatherData.data.weather[0].id == 800 && weatherData.data.dt > weatherData.data.sys.sunset" class="wi wi-night-clear"></i>


		<!-- Cloudy -->
		<i ng-if="weatherData.data.weather[0].id >= 801 && weatherData.data.weather[0].id <= 804 && weatherData.data.dt < weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-day-cloudy"></i>

		<i ng-if="weatherData.data.weather[0].id >= 801 && weatherData.data.weather[0].id <= 804 && weatherData.data.dt > weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-night-cloudy"></i>

		<i ng-if="weatherData.data.weather[0].id >= 801 && weatherData.data.weather[0].id <= 804 && weatherData.data.clouds.all >= 50" class="wi wi-cloudy"></i>

		<!-- Drizzle -->
		<i ng-if="weatherData.data.weather[0].id >= 300 && weatherData.data.weather[0].id <= 321 && weatherData.data.dt < weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-day-rain-mix"></i>

		<i ng-if="weatherData.data.weather[0].id >= 300 && weatherData.data.weather[0].id <= 321 && weatherData.data.dt > weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-night-alt-rain-mix"></i>

		<i ng-if="weatherData.data.weather[0].id >= 300 && weatherData.data.weather[0].id <= 321 && weatherData.data.clouds.all >= 50" class="wi wi-rain-mix"></i>

		<!-- Rain -->
		<i ng-if="weatherData.data.weather[0].id >= 500 && weatherData.data.weather[0].id <= 531 && weatherData.data.dt < weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-day-rain"></i>

		<i ng-if="weatherData.data.weather[0].id >= 500 && weatherData.data.weather[0].id <= 531 && weatherData.data.dt > weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-night-rain"></i>

		<i ng-if="weatherData.data.weather[0].id >= 500 && weatherData.data.weather[0].id <= 531 && weatherData.data.clouds.all >= 50" class="wi wi-rain"></i>

		<!-- Snow -->
		<i ng-if="weatherData.data.weather[0].id >= 600 && weatherData.data.weather[0].id <= 622 && weatherData.data.dt < weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-day-snow"></i>

		<i ng-if="weatherData.data.weather[0].id >= 600 && weatherData.data.weather[0].id <= 622 && weatherData.data.dt > weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-night-snow"></i>

		<i ng-if="weatherData.data.weather[0].id >= 600 && weatherData.data.weather[0].id <= 622 && weatherData.data.clouds.all >= 50" class="wi wi-snow"></i>

		<!-- Thunder Storms -->
		<i ng-if="weatherData.data.weather[0].id >= 200 && weatherData.data.weather[0].id <= 232 && weatherData.data.dt < weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-day-thunderstorm"></i>

		<i ng-if="weatherData.data.weather[0].id >= 200 && weatherData.data.weather[0].id <= 232 && weatherData.data.dt > weatherData.data.sys.sunset && weatherData.data.clouds.all < 50" class="wi wi-night-thunderstorm"></i>

		<i ng-if="weatherData.data.weather[0].id >= 200 && weatherData.data.weather[0].id <= 232 && weatherData.data.clouds.all >= 50" class="wi wi-thunderstorm"></i>

		<!-- Mist and Fog -->

		 <i ng-if="weatherData.data.weather[0].id >= 701 && weatherData.data.weather[0].id <= 781" class="wi wi-fog"></i>
	</div>

	<p class="info">
		<h3>{{weatherData.data.main.temp | number:0}}&deg;C</h3>{{weatherData.data.weather[0].main}}: {{weatherData.data.weather[0].description}}
		<br>
		{{day}}, {{fullDate}}
	 </p>
	</div>

</div>