body {
	text-align: center;
	background-color: #F3F4F8;
	font-family: "Khula", sans-serif;
}

// flexbox container
.flex-block {
	padding: 20px 0;
}
.eqWrap {
	display: flex;
}
.eq {
	padding: 10px;
}
.equalHW {
	flex: 1;
}
// flexbox container


.lighter {
	color: rgba(#000, .4);
}

form {
	text-align: left;
	input {
		font-size: 12px;
		text-align: left;
	}
}

.wi {
	font-size: 10em;
	line-height: 1.15;
}

.icon {
	padding:20px;
	&.cool {
		.wi {
			color: #00A6ED;
		}
	}

	&.mid {
		.wi {
			color: #FFB400;
		}
	}

	&.hot {
		.wi {
			color: #F6511D;
		}
	}
}

.card {
	width: 500px;
	height: 500px;
	border-radius: 8px;
	display:flex;
	flex-direction: column;
	background-color: #fff;
	padding: 30px;
	margin: 30px auto;
	position: relative;
}
.error {
	color:red;
}
.wrapper-loader {
	position: absolute;
	height: inherit;
	width: inherit;
	line-height: 250px;
	background-color: white;
}
.loader {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	vertical-align: bottom;
	&-quart {
		border-radius: 50px;
		border: 6px solid rgba(255, 255, 255, 0.4);
		&:after {
			content: '';
			position: absolute;
			top: -6px;
			right: -6px;
			bottom: -6px;
			left: -6px;
			border-radius: 50px;
			border: 6px solid transparent;
			border-top-color: #000;
			-webkit-animation: spin 1s linear infinite;
			animation: spin 1s linear infinite;
		}
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		tranform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		tranform: rotate(360deg);
	}
}
.weather-info {
	margin-top: -30px;
}
.info-header {
	text-align: right;
	p {
		margin: 0;
		line-height: 1.6;
	}
}
.main-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0;
}
.main-subinfo {
	display: block;
	padding: 70px 0;
	.temp {
		font-size: 60px;
		font-weight: 300;
		margin: 0;
		text-align: left;
		width: 100%;
	}
	.description {
		font-size: 24px;
		text-align: left;
		margin: 0;
		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.site-search {
	position: relative;
}
.site-search__submit {
	display: none;
}
.site-search__icon {
	position: relative;
	cursor: pointer;
	margin-left: -4px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	.icon {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		height: 20px;
		width: 20px;
		position: absolute;
		left: -51px;
		top: -8px;
		fill: rgba(#000, .8);
	}
}
.site-search__input {
	background: white;
	// border-radius: 20px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	height: 40px;
	text-indent: -9999px;
	width: 40px;
	color: rgba(#000, .8);
	outline: none;
	-webkit-transition: width 0.4s cubic-bezier(.41,.1,.56,.96);
	transition: width 0.4s cubic-bezier(.41,.1,.56,.96);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::-webkit-input-placeholder {
		color: rgba(#000, .8);
	 }
	&:-moz-placeholder {
		color: rgba(#000, .8);
	}
	&::-moz-placeholder {
		color: rgba(#000, .8);
	}
	&:-ms-input-placeholder {
		color: rgba(#000, .8);
	}
	&:focus {
		text-indent: 0;
		width: 240px;
		border-bottom: 1px solid #ddd;
		&::-webkit-input-placeholder {
			opacity: .5;
		}
		&:-moz-placeholder {
			opacity: .5;
		}
		&::-moz-placeholder {
			opacity: .5;
		}
		&:-ms-input-placeholder {
			opacity: .5;
		}
	}
}
.card-footer {
	.wi {
		font-size: 3.5em;
		color: #b3b3b3;
	}
}

